node_modules/
**/node_modules/
**/dist/
**/build/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt


.idea/
node_modules/
build/
extensions/
.env
models/boxmaps/50-zeusrepoeos.json

contracts/eos/compile_commands.json
contracts/eos/*service/*service.cpp
contracts/eos/dappservices/*




models/.placeholder



contracts/eos/.placeholder
contracts/eos/CMakeLists.txt
contracts/eos/Common/events.hpp
models/events/.placeholder
contracts/eos/Common/base/base58.hpp
contracts/eos/Common/base/base64.hpp
contracts/eos/Common/string/bytes/string-5bit.hpp
contracts/eos/Common/string/bytes/string-6bit.hpp
contracts/eos/Common/string/uint128_t/string16-8bit.hpp
contracts/eos/Common/string/uint128_t/string21-6bit.hpp
contracts/eos/Common/string/uint128_t/string25-5bit.hpp
contracts/eos/Common/string/uint256_t/string32-8bit.hpp
contracts/eos/Common/string/uint256_t/string42-6bit.hpp
contracts/eos/Common/string/uint256_t/string50-5bit.hpp
contracts/eos/Common/string/uint64_t/string11-6bit.hpp
contracts/eos/Common/string/uint64_t/string12-5bit.hpp
contracts/eos/Common/string/uint64_t/string8-8bit.hpp
contracts/eos/eosio.bios/eosio.bios.abi
contracts/eos/eosio.bios/eosio.bios.wasm
contracts/eos/eosio.bios/eosio.bios.wast
contracts/eos/eosio.msig/eosio.msig.abi
contracts/eos/eosio.msig/eosio.msig.wasm
contracts/eos/eosio.msig/eosio.msig.wast
contracts/eos/eosio.sudo/eosio.sudo.abi
contracts/eos/eosio.sudo/eosio.sudo.wasm
contracts/eos/eosio.sudo/eosio.sudo.wast
contracts/eos/eosio.system/eosio.system.abi
contracts/eos/eosio.system/eosio.system.wasm
contracts/eos/eosio.system/eosio.system.wast
contracts/eos/eosio.token/eosio.token.abi
contracts/eos/eosio.token/eosio.token.wasm
contracts/eos/eosio.token/eosio.token.wast
test/encrypted-key.spec.js


migrations/55-contracts.js
models/contract-deployments/.placeholder



models/boxmaps/00-mapping.json

models/repos/zeusrepoeos.json




test/.placeholder
.env
migrations/.placeholder

services/.placeholder
models/captured-events/.placeholder
services/demux/backends/abis/abi.js
services/demux/backends/abis/abiabi.js
services/demux/backends/state_history_abi.js
services/demux/backends/state_history_plugin.js
services/demux/index.js
client/.eslintrc.js
client/.gitignore
client/.npmignore
client/LICENSE
client/examples/client.ts
client/examples/get_dapphdl_accounts.ts
client/examples/get_package_info.ts
client/examples/get_table_accountext.ts
client/examples/get_table_accountext_by_account_service.ts
client/examples/get_table_accountext_by_account_service_provider.ts
client/examples/get_table_package.ts
client/examples/get_table_package_by_package_service_provider.ts
client/examples/get_table_refunds.ts
client/examples/get_table_staking.ts
client/nodemon.json
client/package.json
client/src/dapp-airhodl.ts
client/src/dapp-client-lib.ts
client/src/dapp-common.ts
client/src/dapp-network.ts
client/src/dsp-service-client.ts
client/src/eos-wrapper.ts
client/src/eosio-client.ts
client/src/http-client.ts
client/src/network-config.json
client/src/services/.placeholder
client/src/types/chain/get_info.ts
client/src/types/chain/get_table_rows.ts
client/src/types/dappairhodl1.ts
client/src/types/dappservices.ts
client/src/types/dsp/provider_info.ts
client/src/types/endpoints.ts
client/src/types/error.ts
client/src/types/http-client.ts
client/src/types/index.ts
client/src/types/names.ts
client/src/utils.ts
client/tsconfig.json
client/tslint.json
services/ipfs-daemon/index.js
contracts/eos/dappservices/dappservices.contracts.md
contracts/eos/dappservices/dappservices.cpp
contracts/eos/dappservices/dappservices.hpp
migrations/11-dappservices.js
models/captured-events/dappservice.request.1.json
models/captured-events/dappservice.request.json
models/captured-events/dappservice.signal.1.json
models/captured-events/dappservice.signal.json
models/captured-events/dappservice.usage.1.json
models/captured-events/dappservice.usage.json
models/dapp-services/.placeholder
models/deploy-dapp-services/.placeholder
services/dapp-services-node/common.js
services/dapp-services-node/dal/config/config.js
services/dapp-services-node/dal/dal.js
services/dapp-services-node/dal/migrations/20190915114808-create-settings.js
services/dapp-services-node/dal/migrations/20190916125227-create-service-request.js
services/dapp-services-node/dal/models/ServiceRequest.js
services/dapp-services-node/dal/models/Settings.js
services/dapp-services-node/dal/models/index.js
services/dapp-services-node/generic-dapp-service-node.js
services/dapp-services-node/index.js
services/dapp-services-node/kms.js
contracts/eos/dappservices/_log_impl.hpp
contracts/eos/dappservices/logservice-regprovider-rc.md
contracts/eos/logconsumer/logconsumer.cpp
models/dapp-services/log.json
services/log-dapp-service-node/index.js
test/logconsumer.spec.js
utils/.placeholder
utils/cleanup.js
client/examples/get_vram_row.ts
client/src/services/ipfs.ts
client/src/types/chain/get_table_row.ts
contracts/eos/dappservices/_ipfs_impl.hpp
contracts/eos/dappservices/ipfsservice-regprovider-rc.md
contracts/eos/dappservices/multi_index.hpp
contracts/eos/dappservices/plist.hpp
contracts/eos/dappservices/plisttree.hpp
contracts/eos/ipfsconsumer/ipfsconsumer.cpp
models/dapp-services/ipfs.json
services/ipfs-dapp-service-node/index.js
test/dappservices.spec.js
test/ipfsconsumer.spec.js
utils/ipfs-service/get-ordered-keys.js
utils/ipfs-service/get-table.js
utils/ipfs-service/replay-contract.js
contracts/eos/cronconsumer/cronconsumer.cpp
contracts/eos/dappservices/_cron_impl.hpp
contracts/eos/dappservices/cronservices-regprovider-rc.md
models/dapp-services/cron.json
services/cron-dapp-service-node/index.js
test/cron.spec.js
client/examples/push_liquid_account_transaction.ts
client/examples/push_register_liquid_account.ts
client/src/services/vaccounts.ts
client/src/types/dsp/liquid-account.ts
contracts/eos/dappservices/_vaccounts_impl.hpp
contracts/eos/dappservices/vaccounts-regprovider-rc.md
contracts/eos/vaccountsconsumer/vaccountsconsumer.cpp
models/dapp-services/vaccounts.json
services/vaccounts-dapp-service-node/index.js
test/vaccountsconsumer.spec.js
services/oracle-dapp-service-node/protocols/http+json.js
services/oracle-dapp-service-node/protocols/http+post.js
services/oracle-dapp-service-node/protocols/http.js
services/oracle-dapp-service-node/protocols/https+json.js
services/oracle-dapp-service-node/protocols/https+post+json.js
services/oracle-dapp-service-node/protocols/https+post.js
services/oracle-dapp-service-node/protocols/https.js
test/oracle-web.spec.js
services/oracle-dapp-service-node/protocols/self_history.js
test/oracle-self-history.spec.js
services/oracle-dapp-service-node/protocols/random.js
test/oracle-random.spec.js
services/oracle-dapp-service-node/protocols/sister_chain_block.js
services/oracle-dapp-service-node/protocols/sister_chain_history.js
test/oracle-sister-chain.spec.js
contracts/eos/dappservices/_oracle_impl.hpp
contracts/eos/dappservices/oracleservices-regprovider-rc.md
contracts/eos/oracleconsumer/oracleconsumer.cpp
models/dapp-services/oracle.json
services/oracle-dapp-service-node/index.js
services/oracle-dapp-service-node/protocols/.placeholder
test/oracleconsumer.spec.js
client/src/services/auth.ts
contracts/eos/authenticator/authenticator.cpp
contracts/eos/dappservices/_auth_impl.hpp
models/dapp-services/auth.json
services/auth-dapp-service-node/index.js
test/auth-client.spec.js
test/authenticator.spec.js
client/examples/upload_to_liquidstorage.ts
client/src/services/storage.ts
models/dapp-services/storage.json
services/storage-dapp-service-node/api/ipfshttpgw.js
services/storage-dapp-service-node/api/unpin.js
services/storage-dapp-service-node/api/upload_public.js
services/storage-dapp-service-node/state-init.js
test/storage.spec.js
contracts/eos/dappservices/_history_impl.hpp
models/dapp-services/history.json
services/history-dapp-service-node/index.js
test/history.spec.js
client/examples/push_readfn_transaction.ts
client/src/services/readfn.ts
client/src/types/dsp/readfn.ts
contracts/eos/dappservices/_readfn_impl.hpp
contracts/eos/readfnconsumer/readfnconsumer.cpp
models/dapp-services/readfn.json
services/readfn-dapp-service-node/index.js
test/readfnconsumer.spec.js
LICENSE
contracts/eos/dappservices/dns/cmds/dnsq.hpp
contracts/eos/dappservices/dns/headers.hpp
contracts/eos/dnsconsumer/dnsconsumer.cpp
models/dapp-services/dns.json
services/dns-dapp-service-node/state-init.js
test/dnsconsumer.spec.js
contracts/eos/dappservices/vcpu/cmds/vrun.hpp
contracts/eos/dappservices/vcpu/cmds/vrunclean.hpp
contracts/eos/dappservices/vcpu/headers.hpp
contracts/eos/vcpuconsumer/vcpuconsumer.cpp
models/dapp-services/vcpu.json
services/vcpu-dapp-service-node/chain/vrun.js
services/vcpu-dapp-service-node/state-init.js
test/vcpuconsumer.spec.js
services/oracle-dapp-service-node/protocols/foreign_chain.js
test/oracle-foreign-chain.spec.js
services/oracle-dapp-service-node/protocols/wolfram_alpha.js
test/oracle-wolfram.spec.js
contracts/eos/dappservices/sql_helper.hpp
dbs/.placeholder
services/oracle-dapp-service-node/protocols/sql.js
test/oracle-sql.spec.js
contracts/eos/dappservices/vcpu_helper.hpp
services/oracle-dapp-service-node/protocols/vcpu.js

models/templates/.placeholder
templates/.placeholder
models/templates/emptycontract-eos-cpp.json
templates/emptycontract-eos-cpp/generators/app/index.js
templates/emptycontract-eos-cpp/generators/app/templates/CMakeLists.txt
templates/emptycontract-eos-cpp/generators/app/templates/main.cpp
templates/emptycontract-eos-cpp/generators/app/test-templates/contract.spec.js
templates/emptycontract-eos-cpp/package.json
frontends/.placeholder
frontends/main/package.json

frontends/main/public/eos-logo.png
frontends/main/public/index.html
frontends/main/public/liquideos.png
frontends/main/public/loader.svg
frontends/main/public/scatter.min.js
frontends/main/src/index.js
frontends/main/src/pages/index.jsx
