.Landing {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../images/Game_background.png") center no-repeat;
  background-size: 100%;
  border-collapse: collapse;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform-origin: top left;
  transition: all 250ms ease-in-out !important; }
  .Landing .header {
    position: absolute;
    width: 100%;
    height: 42pt;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #d8f3ce; }
  .Landing .logo {
    position: absolute;
    top: 50pt;
    width: 100%;}
    .Landing .logo img {
        width: 50%;
        height: auto;
        text-align: center; }
  .Landing .play {
    position: absolute;
    top: 50%;
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .Landing .play .play-button {
      background-color: #D1F2BF;
      box-shadow: #82A07D 0pt 5pt 0pt;
      border-radius: 18pt;
      font-weight: 500;
      font-size: 20pt;
      width: 75%;
      height: 50pt;
      color: #ffffff; }
    .Landing .play .practice-button {
      background-color: #86E8D5;
      box-shadow: #489585 0pt 5pt 0pt;
      border-radius: 18pt;
      font-weight: 500;
      font-size: 20pt;
      width: 75%;
      height: 50pt;
      color: #ffffff; }
  .Landing .login {
    position: absolute;
    bottom: 50pt;
    width: 75%;
    justify-content: center; }
    .Landing .login .login-button {
    background-color: #A9E886;
    box-shadow: #285422 0pt 5pt 0pt;
    border-radius: 18pt;
    font-weight: 500;
    font-size: 20pt;
    width: 75%;
    height: 50pt;
    color: #ffffff; 
  }
  .Landing .footer {
    position: absolute;
    width: 100%;
    height: 40pt;
    bottom: 0;
    text-align: left;
    background-color: #d8f3ce;
  }